.contents-row1{
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin-top:30px;
}
.about-content{
    background-color: gray;
    min-width: 80%;
    border-radius: 5px;
    color:white;
    margin-top:30px;
    
}
.about-content >h1{
    text-transform: uppercase;
    margin-left: 200px;

}

@media screen and (max-width: 780px){
    .about-div{
       margin-top:200px;
       display: flex;
       min-width:100%;
       
       flex-direction: column;
       
    }
    .contents-row1{
        display:flex;
        
        min-width:100%;
    }
    .about-content > h1{
        width: 200px;
        margin:0 auto;  
       
        
        
    }
    .contents-row > p{
       padding:5px; 

         
        
    }
    .content-second-row{
        max-width:100%;
    
        display: flex;
        flex-direction:column;
        
        
        
    }
    .contents-row1{
        background-color: gray;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        border-radius: 5px;
        color:#ffff;
        margin-top:30px;
    }
    .about-div{
        max-width:700px ;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
    .about-content{
        width:60%;
        margin-left:auto;
        margin-right:auto;
        
    }
    .contents-row{
        
        margin-top:10px;
    }
   
}