.main-div{
    width:100%;
    
}
.firs-row{
    display: flex;
    justify-content: space-around;
    
}
.main-div{
    margin:10px;
}
.main-div > h1{
margin-left: 140px;
color:#4A8CBB;
text-transform: capitalize;
font-size: 25px;
}
.cols{
    width:45%;
    padding:10px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cols > img{
    width:50px;
}
.cols  >:nth-child(2){
    color:#4A8CBB;
    font-weight: 700px;
    font-size: 20px;
}
.secon-row{
    display:flex;
    justify-content: space-around;
}

@media screen and (max-width:768px){
    .main-div{
      width:100%;
      height: 100%;
      margin-top:400px;
      display: flex;
      flex-direction: column;
      position: relative;
  }
  .main-div > h1{
  margin-left: auto;
  margin-right: auto;
  
  
  }
  .cols{
      margin-left: auto;
      margin-right:auto;
      min-width: 80%;
      
      height: 100%;
      
  }
  .cols > p{
    font-size: 18px;
    padding:5px;
  }
  .firs-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    
  }
  .secon-row{
    width:100%;
    display: flex;
    flex-direction: column;
  }
    
  }

  
@media screen and (max-width:375px){
    .main-div{
      width:375px;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      top:-30px;
      
    
  }
  
  .header > h1{
  margin-left: auto;
  margin-right: auto;
   margin-bottom:170px;
   margin-top:0px;

  
  
  }
  .cols{
    
     width: 350px;
    height: 100%;
    position: relative;
    top:0;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    

  }
  .cols > p{
    font-size: 18px;
    padding:5px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
  }
  .cols :nth-child(even){
    text-align: center;
    margin-top:5px;

  }
  .cols :nth-child(3){
    text-align: center;
    margin-top:5px;
    
  }
  .firs-row{
    width:100%;
    display: flex;
    flex-direction: column;
      
  }
  .secon-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    }
  }
  @media screen and (max-width:425px){
    .main-div{
      max-width:100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      top:40px;
    
  }
  
  .header > h1{
  margin-left: auto;
  margin-right: auto;
   margin-bottom:170px;
   margin-top:0px;

  
  
  }
  .cols{
    
    max-width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    

  }
  .cols > p{
    font-size: 18px;
    padding:5px;
    min-width:300px;
  }
  .cols :nth-child(even){
    text-align: center;
    margin-top:5px;

  }
  .cols :nth-child(3){
    text-align: center;
    margin-top:5px;
    
  }
  .firs-row{
    width:100%;
    display: flex;
    flex-direction: column;
      
  }
  .secon-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    }
  }

 
 
