.login-container{
    
    height:100%;
    margin-top:0px;
    display: flex;
    justify-content: center;
    position:relative;
   
}
.login-form{
    background-color: #ffff;
    min-width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top:40px;
    text-align: center;
    display: flex;
}
.login-form > h2{
    font-weight: 600px;
    font-size:25px;
    margin-top:40px;
    text-transform: capitalize;
    margin-top:60px;
    margin-left: 10px;
    
    line-height:100px;

    
}
.login-form > :nth-child(2){

    font-size:16px;
    color:gray;
    text-transform: capitalize;

}
.lgin-form > input[type="text"]{
    padding:5px;
    border-radius: 5px;
     outline: none;
    border: 1px solid gray;
    border:none;

    
}
.login-form > :nth-child(4){
    
    margin-top:10px;
    color:gray;
    text-transform: capitalize;
}
.login-form > input[type="password"]{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border:1px solid gray;
    width:300px;
    margin:auto;
    
}
.login-form > .btn > a{
    text-decoration: none;
}
@media only screen and (max-width:425px){
    .login-container{
        margin-tp:370px;
        
    }
    .login-form{
        margin-top:100px;
        min-width:90%;
        margin-left:auto;
        margin-right:auto;
    }
    .login-form > .btn > {
        text-decoration: none;
        width: auto;
        margin-right: auto;
        margin-left:auto;
        
}
}
@media only screen and (max-width:780px){
    .login-container{
        margin-top:250px;
        
    }
    .login-form > .btn{
        text-decoration: none;
        
        margin-right: auto;
        margin-left:auto;
        
}
}

