.logo-header{
    max-width: 100%;
    height: 300px;
}
.logo-header > h1{
    text-transform: capitalize;
    margin:10px auto;
    text-align: center;
}
.logo-header > :nth-child(2){
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top:20px;
}