.logo-header{
    width: 100%;
    min-height: 100%;
}
.logo-header > h1{
    text-transform: capitalize;
    margin:10px auto;
    text-align: center;
}
.logo-header > :nth-child(2){
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top:20px;
}
@media only screen and (max-width:768px){
    .logo-header{
        min-height: 100vh;
        width: 100%;
        
        margin-top:-250px;
        
       
    }
    .logo-header > h1{
        
        margin-bottom:0px;
    }
    .logo-image{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .logo-image > img{
        width:200px;
        margin-top:15px;
        margin-left:auto;
        margin-right:auto;
    }
}


