.firstprogram-content{
    display: flex;
    justify-content: space-around;
    
}
.firstprogram-content h1{
    max-width:300px;
    padding:10px;
    margin-top:40px;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;

}
.prgrm-second-col{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.prgrm-second-col > .para{
    max-width: 600px;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
    margin-left: 70px;
}
.prgrm-second-col >button{
    background-color:#4A8CBB ;
    height: 40px;
    width:120px;
    padding:5px;
    margin-top:150px;
    margin-right: 300px;
    border-radius: 4px;
    text-transform: uppercase;
}
.seconds-cols{
    display: flex;
    justify-content: space-around;
    background-color: #F7F9FE;
}
.seconds-cols > :nth-child(1){
    margin-left: 30px;
    max-width: 500px;
    margin-top:30px;
    
}
.first-row > h2{
    color:#4A8CBB;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
}
.first-row > p{
    width:450px;
    padding: 10px;
    line-height: 25px;
    text-align: justify;
}
.third-cols{
    display: flex;
    margin-top:30px;
    justify-content: space-around;
}
.third-cols > :nth-child(1){
margin-top:50px;
}
.third-col-text{
    max-width: 500px;
    margin-left: 40px;

    line-height: 30px;
}
.third-col-text > h2{
    text-transform: uppercase;
    font-size: 20px;
    color:#4A8CBB

}
.third-col-text > button{
background-color: #4A8CBB;

}
.third-col-text > :nth-child(2){
    width: 300px;
    margin-top:20px;
    border-radius: 5px;
    text-transform: capitalize;
}
.third-col-text > #btnid{
    border-radius: 5px;
    margin-top:5px;

    text-transform: capitalize;
}
.fourth-row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fourth-text{
    width:600px;
}
.fourth-text > :nth-child(1){
color:#4A8CBB;
}
.heading-text{
    font-size: 20px;
    text-transform: uppercase;
    margin-top:50px;
    color:#4A8CBB;
}
.image-divs > img{
    width:1000px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:10px;
    width:90%

}
#btnsid{
    width: 120px;
    margin-left:65px;
    margin-top:20px;
    border-radius: 5px;
    padding:5px;
    margin-bottom:20px;
    background-color: #4A8CBB;
    
}
.fifth-row{
    display: flex;
    margin:10px;
    justify-content: space-around;
    position: relative;
}
.rows-text{
    
    flex-basis: 40%;
}
.rows-text > :nth-child(1){
    color: #4A8CBB;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
}
.rows-text > :nth-child(2){
    line-height: 25px;
    width: 450px;
}
.rows-text > :nth-child(3){
    background-color: #4A8CBB;
    text-transform: uppercase;
    border-radius: 5px;
    padding:5px;
}
.fifth-row > :nth-child(2) {
    margin-top: 40px;
    width: 500px;
   
    margin-right: 50px;

}

.rows-image >img{
    width:450px;
    margin-bottom:10px;
}
.fifth-row::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width: 900px;
    border-bottom:2px solid gray;

}