@media only screen  and (max-width:425px) {
    .main-header{
        display: flex;
        height: 100%;
        background-color: #000000;
        width: 100%;
        justify-content: center;
        
        
    }
    .main-header > :nth-child(1){
        color: white;
        background-color: white;
        margin-left:80px;
    }
    
    .navbar{
         width: 100%;
        flex-direction: column;
        margin-top:50px;
        margin-left: auto;
        margin-right: auto;
        
        

    }
    .link{
        
        color:#f3f3f3;
        font-size: 20px;
        font-weight:bold;
        margin:10px;
        width: 140px;
        margin-left:50px;
        
    }
    .navbar > button{
       
        
    }
    select{
        background-color: #c3c3c3;
        color:#f3f3f3;
        margin-right:20px;
    }
    .staff-image{
        width:100%;
        margin-top:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .staff-image > img{
         width:270px;
        height: 190px;
        
    }
    .main-header > img{
        margin-left:60px;
        width:100px;
    }
    
}


@media only screen  and (max-width:375px) {
    .main-header{
        
       
        
        
        display: flex;
        flex-direction: column;
        background-color: #4A8CBB;
        
    }
    
    .navbar{
        min-width:320px;
        padding:30px;
        margin-top:50px;
        display:flex;

        flex-direction: column;
         }
    .link{
        
        color:#f3f3f3;
        font-size: 20px;
        font-weight:bold;
        margin:10px;
        min-width: 140px;
        margin-left:170px;
          margin-right:-20px;
        
        
    }
    .navbar >  button{
        margin-left:90px;
    
    }
    .navbar > button {
        background-color: white;
        width:100px;
        margin-top:5px;
        margin-right:20px;
    }
    select > option{
        background-color: red;
        margin-top:40px;
        margin-left: 0;

        
    }
    .staff-image{
        min-width:320px;
        margin-top:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .staff-image > img{
        min-width: 280px;
        height: 190px;
        
        
    }
    .main-header > img{
        margin-left:60px;
        width:100px;
    }
    .text-div{
        display: flex;
        flex-direction: column;
    }
}