.secondcol{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
.firsts-row{
    display: flex;
    background-color: #F3EEEE;
    width:440px;
    height: 250px;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);
}
.firsts-row > h1{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;

    line-height: 20px;
}
.firsts-row > p{
    min-width: 350px;
    
    
    line-height: 25px;
    
}
.seconds-row{
    display: flex;
    flex-direction: column;
    background-color: #F3EEEE;
    width:400px;
    height: 250px;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);

    text-align: justify;
    padding: 10px;
    border-radius: 5px;
}
.seconds-row > h1{
    font-size: 20px;
    text-transform: uppercase;
    background-color: red;
    margin-left: 20px;

}
.seconds-row > p{
   min-width: 350px;
   line-height: 25px;
}
@media screen and (max-width:375px){
    .secondcol{
        display:flex;
        flex-direction: column;
        max-width: 375px;
        gap:10px;
    }
    .firsts-row{
        display: flex;
        flex-direction: column;
        max-width: 280px;
     }
     .firsts-row > p{
        min-width:180px;
        
     }
     .seconds-row{
        
        max-width:280px;
     }
     .seconds-row > p{
        min-width: 230px;
        
     }
     
     
}

@media screen and (max-width:786px){
    .secondcol{
        display:flex;
        flex-direction: column;
        max-width: 375px;
        gap:10px;
    }
    .firsts-row{
        display: flex;
        flex-direction: column;
        min-width: 300px;
     }
     .firsts-row > p{
        min-width:180px;
        
     }
     .seconds-row{
        
        width:435px;
     }
     .seconds-row > p{
        min-width: 230px;
        
     }
     
     
}
@media screen and (max-width:425px){
   .secondcol{
       display:flex;
       flex-direction: column;
       max-width: 375px;
       gap:10px;
   }
   .firsts-row{
       display: flex;
       flex-direction: column;
       max-width: 340px;
       margin-left: auto;
       margin-right:auto;
    }
    .firsts-row > p{
       min-width:180px;
       
    }
    .seconds-row{
       
       max-width:340px;
       margin-left:auto;
       margin-right:auto;
    }
    .seconds-row > p{
       min-width: 230px;
       
    }
    
    
}




