.secondcol{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
.firsts-row{
    display: flex;
    background-color: #F3EEEE;
    width:440px;
    height: 250px;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);
}
.firsts-row > h1{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;

    line-height: 20px;
}
.firsts-row > p{
    min-width: 350px;
    
    
    line-height: 25px;
    
}
.seconds-row{
    display: flex;
    flex-direction: column;
    background-color: #F3EEEE;
    width:400px;
    height: 250px;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);

    text-align: justify;
    padding: 10px;
    border-radius: 5px;
}
.seconds-row > h1{
    font-size: 20px;
    text-transform: uppercase;
    
    margin-left: 20px;

}
.seconds-row > p{
   min-width: 350px;
   line-height: 25px;
}