.signup-container{
    background-color: #F4DDDD;
    width:100%;
    height:100%;
    margin-top:0px;
    display: flex;
    justify-content: center;
    position:relative;
   
}
form{
    background-color: white;
    width: 28%;
    height: 100%;
    margin-top:40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > h1{
    width: 200px;
    margin-top:90px;
    margin-left: -10px;
    font-size: 20px;
    
   }
   .signup-form p{
    margin-bottom: -10px;

    
   }
.signup-form > :nth-child(3){
    
    padding:5px;
    margin-top:30px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border:1px solid gray;
}



.signup-form > .number{
    padding: 5px;
    margin:10px auto;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border:1px solid gray;
}
.signup-form > .pass{
    padding: 5px;
    margin:10px auto;
    width: 200px;
    border-radius: 5px;
    outline: none;
    border:1px solid gray;
}
button{
    width: 210px;
    padding: 5px;
    background-color: blue;
    color:white;
    border-radius: 5px;
    outline:none;
    border:none;
    text-transform: capitalize;
}
   form .email{
    width:200px;
    padding:5px;
    border-radius: 5px;
    outline:none;
    border:1px solid gray;
   }
   .link{
    text-decoration: none;
    margin-left:3px;
   }
  