.team-group{
    width:100%;
    
    
}
.team-group > h1{
   text-transform: uppercase; 
   margin-top:30px;
    text-align:center;
    color:#4A8CBB;
    font-size:22px;
    padding:5px;
}
 #groupss{
    margin-bottom:70px;
    display: flex;
    height: 400px;
    margin-top:20px;

}
.team > h1{
    text-align: center;
}

@media screen and (max-width:780px){
    
    #groupss{
        display:flex;
        flex-direction: column;

        
    }
    .card{
        width:100%;
    }
}
@media screen and (max-width:425px){
    
    #groupss{
        display:flex;
        flex-direction: column;
        margin-top:170px;
        width:100%;
        margin-bottom:50px;

    

    }
    .team{
       margin-top:100px; 
       margin-bottom:-350px;
    
    }
    .team > h1{
        margin-bottom:50px;
       }
    .card{
        width:100%;
    }
}


