.App {
  text-align: center;
}


.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.auth-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}
*, body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

